@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.screen {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Contenedor principal para la página de contacto */
.container-contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Ajustado para separarse correctamente */
    height: fit-content;
    padding: 20px;
}

/* Información de contacto */
.info-contacto {
    flex: 1 1 40%;
    padding: 10px;
    max-width: 400px;
    box-sizing: border-box;
    font-size: 18px;
    font-family: "Roboto", sans-serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
}

.title-estilo {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 30px;
    font-family: "Roboto", sans-serif !important;
    font-weight: 700 !important;
    font-style: normal !important;
}

/* Formulario de contacto */
.form-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 50%;
    padding: 10px;
    max-width: 500px;
    box-sizing: border-box;
    font-size: 18px;
    font-family: "Roboto", sans-serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
}

.form-group {
    margin-bottom: 15px;
    width: 100%;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
    height: 100px;
}

/* Botón de enviar */
.btn-enviar {
    background-color: #229799;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-enviar:hover {
    background-color: #1a7a7a;
}

/* Estilos para los errores */
.error {
    color: red;
    margin-bottom: 10px;
}

/* Línea divisoria */
.divider {
    width: 2px;
    background-color: #ccc;
    height: auto;
    align-self: stretch; /* Para que la línea se extienda en toda la altura del contenedor */
}

/* Adaptabilidad (responsive design) */
@media (max-width: 768px) {
    .container-contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
    }

    .info-contacto,
    .form-contact {
        max-width: 100%;
        flex: 1 1 100%;
    }

    .divider {
        display: none;
    }
}