@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.eliminar-cuenta-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.eliminar-cuenta-title {
    font-size: 24px;
    margin-bottom: 20px;
    font-family: "Roboto", sans-serif !important;
    font-weight: 700 !important;
    font-style: normal !important;
}

.eliminar-cuenta-aviso {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
    font-family: "Roboto", sans-serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
}

.eliminar-cuenta-confirmacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    font-family: "Roboto", sans-serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
}

.eliminar-cuenta-input {
    margin-bottom: 10px;
    padding: 10px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: "Roboto", sans-serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
}

.eliminar-cuenta-boton {
    padding: 10px 20px;
    background-color: #e63946; /* Color de advertencia */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: "Roboto", sans-serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
}

.eliminar-cuenta-boton:hover {
    background-color: #d62839; /* Color de advertencia al pasar el mouse */
}

.eliminado-mensaje {
    text-align: center;
    font-size: 18px;
    font-family: "Roboto", sans-serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
}
