.filterContainer {
    margin: 20px;
    padding: 10px;
    border: 1px solid #DDD;
    background-color: white;
    border-radius: 8px;
    width: 300px;
    height: fit-content;
}

.labelStyle {
    display: block;
    margin-bottom: 10px;
    color: #212529;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.selectStyle {
    margin-top: 5px;
    padding: 5px;
    width: 100%;
    color: #212529;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.inputStyle {
    margin-top: 5px;
    padding: 5px;
    width: 100%;
    color: #212529;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.buttonStyle {
    margin-top: 20px;
    height: 40px;
    width: 80px;
    background-color: #229799;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buttonStyle:hover {
    background-color: #1b7f7b;
    color: rgba(255, 255, 255, 0.737);
}
