@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.mis-amistades {
    padding: 20px;
    width: 70%;
  }

  .title-estilo {
    font-family: "Roboto", sans-serif !important;
    font-weight: 700 !important;
    font-style: normal !important;
  }
  
  .buscador-amigos {
    padding: 10px;
    width: 70%;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    font-size: 18px;
    font-family: "Roboto", sans-serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
  }
  
  .lista-amigos {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .amigo {
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    font-family: "Roboto", sans-serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
  }
  
  .amigo:hover {
    background-color: #e0e0e0;
  }
  
@media(max-width: 1000px){
  .mis-amistades {
    width: 90%;
  }
}