@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.container-register {
    display: flex;
    flex-direction: column;
    align-items: center !important;
    justify-content: center !important;
    height: min-content;
  }
  
  .toggle-register {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
    transition: 1s ease;
    font-family: "Roboto", sans-serif !important;
    font-weight: 500 !important;
    font-style: normal !important;
  }
  
  .btn-toggle-left {
    padding: 10px 20px;
    border: 1px solid #48CFCB;
    background-color: transparent;
    color: #48CFCB;
    cursor: pointer;
    width: 10vw;
    height: 10vh;
    font-size: 2vh;
    transition: transform 0.3s ease;
    border-top-left-radius: 2vh;
    border-bottom-left-radius: 2vh;
    font-family: "Roboto", sans-serif !important;
    font-weight: 500 !important;
    font-style: normal !important;
  }

  .btn-toggle-right {
    padding: 10px 20px;
    border: 1px solid #48CFCB;
    background-color: transparent;
    color: #48CFCB;
    cursor: pointer;
    width: 10vw;
    height: 10vh;
    font-size: 2vh;
    border-top-right-radius: 2vh;
    border-bottom-right-radius: 2vh;
    transition: transform 0.3s ease;
    font-family: "Roboto", sans-serif !important;
    font-weight: 500 !important;
    font-style: normal !important;
  }

  .btn-toggle-right:hover{
    transform: scale(1.1); 
  }

  .btn-toggle-left:hover{
    transform: scale(1.1); 
  }
  
  .btn-toggle-right.active{
    background-color: #48CFCB;
    color: #424242;
  }

  .btn-toggle-left.active{
    background-color: #48CFCB;
    color: #424242;
  }
  
  .register-forms {
    display: flex;
    justify-content: center;
    width: 40vw;
    height: 50vh;
    overflow: auto;
    margin-top: 30px;
  }
  
  .full-register, .quick-register {
    width: 100%; /* Ajusta según sea necesario */
  }
  
  .btn-enviar{
    margin-top: 20px;
    margin-bottom: 3vh;
    padding: 10px 20px;
    background-color: #229799;
    color: white;
    border-radius: 2vh;
    width: 15vh;
    height: auto;
    font-size: 2vh;
    font-family: "Roboto", sans-serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
  }

  .btn-google
  {
    margin-top: 3vh;
    margin-bottom: 3vh;
    width: 3vw;
    height: auto;
    background-color: transparent !important;
    transition: transform 0.3s ease;
    border: transparent !important;
  }

  .btn-google:hover{
    transform: scale(1.1);
  }

  .logo-google{
    width: 3vw;
    height: auto;
  }

  .text-tittle{
    display: flex;
    padding-top: 2vh;
    padding-bottom: 2vh;
    justify-content: center;
    margin-top: 30px;
    font-family: "Roboto", sans-serif !important;
    font-weight: 700 !important;
    font-style: normal !important;
  }

  .form-group-register {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 18px;
    font-family: "Roboto", sans-serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
  }

  .form-group-registers input,
  .form-group-register textarea {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

    .form-register{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

  @media (max-width: 1080px){
    .btn-toggle-left {
        width: 40vw;
        height: 8vh;
        font-size: 2vh;
      }
    
      .btn-toggle-right {
        width: 40vw;
        height: 8vh;
        font-size: 2vh;
      }

      .register-forms {
        display: flex;
        justify-content: center;
        width: 80%;
        height: 50vh;
        overflow: auto;
      }
    
    .form-register{
        width: 100%;
        justify-content: center;
    }

    .btn-google
  {
    margin-top: 3vh;
    margin-bottom: 3vh;
    width: 10vw;
    height: auto;
    background-color: transparent !important;
    transition: transform 0.3s ease;
  }

  .logo-google{
    width: 10vw;
    height: auto;
  }
  }